In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, neighbors, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

df = pd.read_csv('https://bit.ly/2Ehg4Iu')
df

      male  age  education  ...  heartRate  glucose  TenYearCHD
0        1   39        4.0  ...       80.0     77.0           0
1        0   46        2.0  ...       95.0     76.0           0
2        1   48        1.0  ...       75.0     70.0           0
3        0   61        3.0  ...       65.0    103.0           1
4        0   46        3.0  ...       85.0     85.0           0
...    ...  ...        ...  ...        ...      ...         ...
4235     0   48        2.0  ...       84.0     86.0           0
4236     0   44        1.0  ...       86.0      NaN           0
4237     0   52        2.0  ...       80.0    107.0           0
4238     1   40        3.0  ...       67.0     72.0           0
4239     0   39        3.0  ...       85.0     80.0           0

[4240 rows x 16 columns]

Variavel de interesse

In [ ]:
saida = "TenYearCHD"
df[saida].value_counts()

0    3596
1     644
Name: TenYearCHD, dtype: int64

In [ ]:
educacao = df["education"]
df = df.drop(["education"], 1)

In [ ]:
df.fillna(0, inplace=True)

Using Linear Regression

In [ ]:
LR_X = np.array(df.drop([saida], 1))
LR_X = preprocessing.scale(LR_X)

LR_y = np.array(df[saida])

LR_X_train, LR_X_test, LR_y_train, LR_y_test = train_test_split(LR_X, LR_y, test_size = 0.2)

LR_classifier = LinearRegression()
LR_classifier.fit(LR_X_train, LR_y_train)

LR_accuracy = LR_classifier.score(LR_X_test, LR_y_test)

print(f'Acuracia para regressao linear : {LR_accuracy*100:.4}%')

Acuracia para regressao linear : 10.29%

Using K nearest neighbors

In [ ]:
KN_X = np.array(df.drop([saida], 1))
KN_X = preprocessing.scale(KN_X)

KN_y = np.array(df[saida])

KN_X_train, KN_X_test, KN_y_train, KN_y_test = train_test_split(KN_X, KN_y, test_size = 0.2)

KN_classifier = neighbors.KNeighborsClassifier()
KN_classifier.fit(KN_X_train, KN_y_train)

KN_accuracy = KN_classifier.score(KN_X_test, KN_y_test)

# prediction = KN_classifier.predict(KN_tests)

print(f'Acuracia para K nearest neighbors : {KN_accuracy*100:.4}%')

Acuracia para K nearest neighbors : 82.19%

Using SVM:

In [ ]:
SVM_X = np.array(df.drop([saida], 1))
SVM_X = preprocessing.scale(SVM_X)

SVM_y = np.array(df[saida])

SVM_X_train, SVM_X_test, SVM_y_train, SVM_y_test = train_test_split(SVM_X, SVM_y, test_size = 0.2)

SVM_classifier = svm.SVC()
SVM_classifier.fit(SVM_X_train, SVM_y_train)

SVM_accuracy = SVM_classifier.score(SVM_X_test, SVM_y_test)

print(f'Acuracia para SVM : {SVM_accuracy*100:.4}%')

Acuracia para SVM : 84.43%